.container {
  width: 400px;
  margin: 40px auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #cd8080;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 15px;   /* 🔥 Gap between fields */
  border-radius: 5px;
  border: 1px solid #865e5e;
  font-size: 14px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: hsl(37, 63%, 53%);
  color: rgb(237, 231, 231);
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #d1af74;
}